# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
/npm-debug.log*
/yarn-error.log*
/yarn-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Misc
/.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
/testem.log
/typings
.DS_Store
/tmp
/temp
/trace.log

# Angular
/dist/
/tmp/
/out-tsc/
/bazel-out/
/node_modules/
/src/main.single-bundle.ts
/src/assets/scss/bootstrap/
/src/assets/fonts/
/e2e/
*.js.map
*.ts.save
/src/environments/environment.ts
/src/environments/environment.prod.ts
/package-lock.json
/browserslist
/.angular/
/npm-debug.log
/yarn.lock
/yarn-error.log
/src/app/core/services/push-notifications-options.ts
/src/app/core/services/push-notifications.service.ts
/test.ts
/karma.conf.js
/protractor.conf.js
/tslint.json
/src/environments/
/e2e/
.sourcemaps/
/experimental/
/tools/
*.log
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.pid
*.pid.lock
*.seed
*.swp
*.swo
*~
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.*.json
reports/
pid*
*.seed
*.log
*.csv
*.dat
*.out
*.tmp
*.psd
*.swp
*.bak
*.orig
.idea/
.project
.classpath
*.iml
*.ipr
*.iws
.settings/
.DS_Store
Thumbs.db
.history/
