<div class="min-h-screen bg-gray-50">
  <app-dashboard-header></app-dashboard-header>
  <app-dashboard-sidebar
    [activeSection]="activeSection"
    (sectionChange)="onSectionChange($event)">
  </app-dashboard-sidebar>

  <main class="ml-64 pt-20 p-8">
    <div class="max-w-6xl mx-auto">
      <div [ngSwitch]="activeSection">
        <app-dashboard-home *ngSwitchCase="'accueil'"></app-dashboard-home>
        <app-inscription-cape-form *ngSwitchCase="'inscription-cape'"></app-inscription-cape-form>
        <app-inscription-garderie-form *ngSwitchCase="'inscription-garderie'"></app-inscription-garderie-form>
        <app-mes-dossiers *ngSwitchCase="'mes-dossiers'"></app-mes-dossiers>
        <app-support-ticket *ngSwitchCase="'assistance-en-ligne'"></app-support-ticket>
        <app-mon-profil *ngSwitchCase="'profil'"></app-mon-profil>
        <app-dashboard-home *ngSwitchDefault></app-dashboard-home>
      </div>
    </div>
  </main>
</div>
